<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tranning_Custom::main_menu"
             title="Img"
             resource="Tranning_Custom::main_menu"
             module="Tranning_Custom"
             sortOrder="10"/>

        <add id="Tranning_Custom::img"
             title="Img"
             module="Tranning_Custom"
             sortOrder="10"
             resource="Tranning_Custom::img"
             parent="Tranning_Custom::main_menu"
             action="image/custom"/>

    </menu>
</config>
