<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--    <preference for="Learn\Api\Api\HelloInterface" type="Learn\Api\Model\Hello" />-->

    <preference for="Learn\Api\Api\UserInterface" type="Learn\Api\Model\HelloUser" />
    <preference for="Learn\Api\Api\Data\HelloUserInterface" type="Learn\Api\Model\Data\User" />
</config>
