<?xml version="1.0" encoding="UTF-8"?>
<!-- declare to connect to database -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- connect deparrment model-->
    <virtualType name="Dtn\Custom\Model\ResourceModel\Img\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">img_girl</argument>
            <argument name="resourceModel" xsi:type="string">Dtn\Custom\Model\ResourceModel\Img</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dtn_img_listing_data_source" xsi:type="string">
                    Dtn\Office\Model\ResourceModel\Img\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
<!--    &lt;!&ndash; connect employee model&ndash;&gt;-->
<!--    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">-->
<!--        <arguments>-->
<!--            <argument name="collections" xsi:type="array">-->
<!--                <item name="dtn_img_listing_data_source" xsi:type="string">-->
<!--                    Dtn\Custom\Model\ResourceModel\Img\Grid\Collection-->
<!--                </item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </type>-->
<!--    <type name="Dtn\Custom\Model\ResourceModel\Img\Grid\Collection">-->
<!--        <arguments>-->
<!--            <argument name="mainTable" xsi:type="string">img_girl</argument>-->
<!--&lt;!&ndash;            <argument name="eventPrefix" xsi:type="string">dtn_custom_img_grid_collection</argument>&ndash;&gt;-->
<!--&lt;!&ndash;            <argument name="eventObject" xsi:type="string">dtn_office_department_grid_collection</argument>&ndash;&gt;-->
<!--            <argument name="resourceModel" xsi:type="string">Dtn\Custom\Model\ResourceModel\Img</argument>-->
<!--        </arguments>-->
<!--    </type>-->

</config>
